body {
    font-size: 12px;
    font-family: sans-serif;
    background: #FFF5EE;
    size: 2000px
  }
  nav {
    margin: 27px auto 0;
  
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #f1ddcf;
    border-radius: 8px;
    font-size: 0;
    margin-bottom: 30px;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #b57281;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #bc8f8f;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #ff9999;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #de6fa1;
  }
  nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #cf6ba9;
  }


  .card {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 #b57281;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #b57281;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 20px;
    color: #b57281;
  }
  
  a1 {
    text-decoration: none;
    font-size: 15px;
    color: #b57281;
  }
    
  
  

  
  
  

  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  

  
  
  

  
  
  
  
  
  

  
  
  
  
  
  
  

  
  
  
  
  
  

 
  
  
  
  
  
  